
.header {
  padding-top: 0;
  margin-top: 0;
  background-color: #61dafb;
  width: 100%;
  align-items: center;
  justify-content: center;

  z-index: 1;
  height:9vh;


}
.header > p {

  margin-top: 0;
  font-family: VT323, monospace;
  color: whitesmoke;
  font-size: 50px;
  margin-left: 50px;
}

.buttons {
  text-align: center;
  background-color: grey;
  z-index: 0;

  height: 25vh;


}

.bg{
  /*#omg pointer-events: none could be useful!!*/
  float: top;
  display: flex;
  max-height: 66vh;
  height: 66vh;
  background-color: grey;





}
/*
container-fluid is a bootstrap class and it has default padding of 15 px so I removed it so the container has full width
 */
.container-fluid {

  position: relative;
  margin-left: 0;
  width: 100%;
  border: none;
  padding: 0 !important;

}

.inner-box{
  overflow-y: auto;
  margin:10px;
  max-height: 100%;

}

.cat{
  background-image: url("/src/cuteCat.jpg");
  display: inline-block;
  vertical-align: top;
  flex: 1;
  text-align: center;
  padding: 15px;

  margin:1%;
  border-radius: 15px;

}

.dog{
  background-image: url("/src/cuteDog.jpg");
  display: inline-block;

  vertical-align: top;
  background-repeat: repeat;
  flex: 1;
  text-align: center;
  padding: 15px;

  margin:1%;
  border-radius: 15px;

}

.horse{
  background-image: url("/src/cuteHorse.jpg");
  display: inline-block;
  vertical-align: top;
  flex: 1;
  text-align: center;
  padding: 15px;

  margin:1%;
  border-radius: 15px;



}

.snail{
  background-image: url("/src/cuteSnail.jpg");
  display: inline-block;
  vertical-align: top;
  flex: 1;
  text-align: center;
  padding: 15px;

  margin:1%;
  border-radius: 15px;


}
.search-bar{
  margin: 1%;
  padding: 8px;
  font-size: 20pt;

}


button {
  width: 80px;
  height: 60px;
  text-align: center;
}



/** {

  border: 1px solid #f00 !important;
}*/




