html{

  background-color: black;
}
header{
  padding-top: 0;
  margin-top: 0;
  background-color: #61dafb;
  height: 100px;
  align-items: center;
  justify-content: center;


}
header > p{

  margin-top: 0;
  font-family: VT323, monospace;
  color: whitesmoke;
  font-size: 50px;
  margin-left: 50px;
}

.fact-generator {
  text-align: center;
}

.search-bar{
  margin: 1%;
  padding: 8px;
  font-size: 20pt;
}






.App-link {
  color: #61dafb;
}

button {
  width: 5%;
  height: 8%

}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
